@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Week3_FormCreation.Models.Feedback
@{
    ViewData["Title"] = "Feedback";
}

    <div class="panel panel-primary">
        <h1>@ViewData["Title"]</h1>
        <div class="panel-body">
            <fieldset>
                @using (Html.BeginForm())
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FeedbackName, "Name", new { @id = "FeedbackName" })
                            @Html.TextBoxFor(model => model.FeedbackName, new { @class = "form-control", @placeholder = "Name" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(model => model.FeedbackSubject, "Subject", new { @id = "FeedbackSubject" })
                            @Html.TextBoxFor(model => model.FeedbackSubject, new { @class = "form-control", @placeholder = "Subject" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(model => model.FeedbackMessage, "Message", new { @id = "FeedbackMessage" })
                            @Html.TextAreaFor(model => model.FeedbackMessage, new { @class = "form-control", @placeholder = "Message" })
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </fieldset>
        </div>

        @if (Model != null)
        {
            <hr />
            <h1>Feedback Form Submission Details...</h1>
            <p>Feeback Name: @Model.FeedbackName</p>
            <p>Author: @Model.FeedbackSubject</p>
            <p>Body: @Model.FeedbackMessage</p>
        }

    </div>
